{%extends 'mem/base.html'%}
{%block title%}
MyEmployee | AllEmp
{%endblock%}

{% block body%}
<h3 class="mx-4">All Employee Details!</h3>
<table class="table mx-4">
    <thead class="thead-light">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Department</th>
        <th scope="col">Salary</th>
        <th scope="col">Role</th>
        <th scope="col">Phone</th>
        <th scope="col">Hire Date</th>
      </tr>
    </thead>
    {%for emp in emps%}
    <tbody>
      <tr>
        <th scope="row">{{emp.id}}</th>
        <td>{{emp.firstName}}</td>
        <td>{{emp.lastName}}</td>
        <td>{{emp.dept}}</td>
        <td>{{emp.salary}}</td>
        <td>{{emp.role}}</td>
        <td>{{emp.phone}}</td>
        <td>{{emp.hiredate}}</td>
      </tr>
    </tbody>
    {%endfor%}
  </table>

{% endblock %}